:root {
    --buttonBleue: #649EB0;
    --buttonGreen: #98E848;
    --buttonYello: #FFED47;
    --textLyme: #ABE848;
    background-color: #1A2B1D;
    background-image: url('Resources/Page_Elements/Turtle_Pattern_Back.svg');
    background-repeat: repeat;
}

@font-face {
    font-family: 'homeGreeting';
    src: url('Resources/Fonts/Unna/Unna-Regular.ttf');
}
@font-face {
    font-family: 'sectionHeader';
    src: url('Resources/Fonts/Lemonada/Static/Lemonada-Bold.ttf');
}
@font-face {
    font-family: 'linkButtons';
    src: url('Resources/Fonts/Krona_One/KronaOne-Regular.ttf');
}
@font-face {
    font-family: 'subsectionHeader';
    src: url('Resources/Fonts/Unbounded/Static/Unbounded-SemiBold.ttf');
}
@font-face {
    font-family: 'subsectionText';
    src: url('Resources/Fonts/Comic_Neue/ComicNeue-Regular.ttf');
}

.primaryContainer {
    margin: auto;
    width: 60%;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.033);
    backdrop-filter: blur(0.1rem);
    background-clip: padding-box;
    border-width: 2px;
    transform: translateY(25%);
}

.secondaryContainer {
    width: 75%;
    margin: auto;
}

.primaryDivider {
    border: 1px solid rgba(16, 16, 16, 0.33);
}

.homeGreeting {
    text-align: center;
    color: var(--textLyme);
    font-family: 'homeGreeting', sans-serif;
    font-size: 60px;
}

.sectionHeader {
    text-align: center;
    color: #F5FFFD;
    font-family: 'sectionHeader', sans-serif;
    font-size: 75px;
}

.subsectionHeader {
    text-align: left;
    color: var(--textLyme);
    font-family: 'subsectionHeader', sans-serif;
    margin-bottom: -14px;
}

.subsectionText {
    text-indent: 50px;
    text-align: left;
    color: var(--textLyme);
    font-family: 'subsectionText', sans-serif;
}



/* Classes for the buttons */
    .linkButtonsLink {
        text-decoration: none;
    }

    .linkButtons .gradient {
        width: 90%;
        margin: auto;
        text-align: center;
        border-radius: 5px;
    }

    .linkButtons .gA {
        background-image: linear-gradient(
            to right,
            var(--buttonBleue),
            var(--buttonGreen)
        );
    }

    .linkButtons .gB {
        background-image: linear-gradient(
            to right,
            var(--buttonGreen),
            var(--buttonYello)
        );
    }

    .linkButtons .gC {
        background-image: linear-gradient(
            to right,
            var(--buttonYello),
            var(--buttonBleue)
        );
    }

    .linkButtons .text {
        font-family: 'linkButtons';
        color: #FFF;
        font-size: 70px;
    }

.homeIconImg {
    width: 20px;
    height: 20px;
    margin: auto;
    display: block;
}

.homeIconDiv {
    /*border: 1px solid black;*/
    width: 30px;
    margin: auto;
}
