:root {
    --buttonBleue: #649EB0;
    --buttonGreen: #98E848;
    --buttonYello: #FFED47;
    --textLyme: #ABE848;
    background-color: #1A2B1D;
    background-image: url('Resources/Page_Elements/Turtle_Pattern_Back.svg');
    background-repeat: repeat;
}

@font-face {
    font-family: 'homeGreeting';
    src: url('Resources/Fonts/Unna/Unna-Regular.ttf');
}
@font-face {
    font-family: 'sectionHeader';
    src: url('Resources/Fonts/Lemonada/Static/Lemonada-Bold.ttf');
}
@font-face {
    font-family: 'linkButtons';
    src: url('Resources/Fonts/Krona_One/KronaOne-Regular.ttf');
}

.mainWrapper {
    margin: auto;
    width: 40%;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.033);
    backdrop-filter: blur(0.1rem);
    background-clip: padding-box;
    border-width: 2px;
    transform: translateY(25%);
}

.mainDivider {
    border: 1px solid rgba(16, 16, 16, 0.33);
}

.homeGreeting {
    text-align: center;
    color: var(--textLyme);
    font-family: 'homeGreeting', sans-serif;
}

.sectionHeader {
    text-align: center;
    color: #F5FFFD;
    font-family: 'sectionHeader', sans-serif;
    font-size: xx-large;
}

/* Classes for the buttons */
    .linkButtons {
        width: 75%;
        margin: auto;

    }

    .linkButtons .gradient {
        width: 90%;
        margin: auto;
        text-align: center;
        border-radius: 5px;
    }

    .linkButtons .gA {
        background-image: linear-gradient(
            to right,
            var(--buttonBleue),
            var(--buttonGreen)
        );
    }

    .linkButtons .gB {
        background-image: linear-gradient(
            to right,
            var(--buttonGreen),
            var(--buttonYello)
        );
    }

    .linkButtons .gC {
        background-image: linear-gradient(
            to right,
            var(--buttonYello),
            var(--buttonBleue)
        );
    }

    .linkButtons .text {
        font-family: 'linkButtons';
        color: #FFF;
    }


.TestB {
    padding:0.01em 16px;
    margin:auto;
    width: 100px;
    border: 1px solid black;
    
    border-radius: 10px;
}

.TestCo {
    padding:0.01em 16px;
    margin:auto;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
}



/*.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,*/
.w3-container{
    padding:0.01em 16px;
    margin-top:16px;margin-bottom:16px;
    width: 100px;
    border: 1px solid black;
    
    border-radius: 10px;
    margin: auto;
}

.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}


.parent{
    background: lightgreen;
    width: 300px;
    display: flex;
    margin: auto;
}


.icon {
    display: inline-block;
    size:fitp;
    background-repeat: no-repeat;
    background-position: -18px 0px;
}