:root {
    --buttonBleue: #649EB0;
    --buttonGreen: #98E848;
    --buttonYello: #FFED47;
    --textLyme: #ABE848;
    background-color: #1A2B1D;
    background-image: url('Resources/Page_Elements/Turtle_Pattern_Back.svg');
    background-repeat: repeat;
}

/* Fonts */
    @font-face {
        font-family: 'homeGreeting';
        src: url('Resources/Fonts/Unna/Unna-Regular.ttf');
    }
    @font-face {
        font-family: 'sectionHeader';
        src: url('Resources/Fonts/Lemonada/Static/Lemonada-Bold.ttf');
    }
    @font-face {
        font-family: 'linkButtons';
        src: url('Resources/Fonts/Krona_One/KronaOne-Regular.ttf');
    }
    @font-face {
        font-family: 'subsectionHeader';
        src: url('Resources/Fonts/Unbounded/Static/Unbounded-SemiBold.ttf');
    }
    @font-face {
        font-family: 'subsectionText';
        src: url('Resources/Fonts/Comic_Neue/ComicNeue-Regular.ttf');
    }

.primaryContainer {
    margin: auto;
    width: 60%;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.033);
    backdrop-filter: blur(0.1rem);
    background-clip: padding-box;
    border-width: 2px;
}

.secondaryContainer {
    width: 75%;
    margin: auto;
}

.primaryDivider {
    border: 1px solid rgba(16, 16, 16, 0.33);
}

.homeGreeting {
    text-align: center;
    color: var(--textLyme);
    font-family: 'homeGreeting', sans-serif;
    font-size: 30px;
}

.sectionHeader {
    text-align: center;
    color: #F5FFFD;
    font-family: 'sectionHeader', sans-serif;
    font-size: 60px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.subsectionHeader {
    text-align: left;
    color: var(--textLyme);
    font-family: 'subsectionHeader', sans-serif;
    margin-bottom: -14px;
}

/*Subsection Text */
    .subsectionText {
        margin-left: 50px;
        text-align: justify;
        color: var(--textLyme);
        font-family: 'subsectionText', sans-serif;
    }
    .subsectionList {
        text-align: justify;
        color: var(--textLyme);
        font-family: 'subsectionText', sans-serif;
        margin-left: 50px;
        margin-top: -10px;
    }
    .subsecTextLink {
        color: hwb(120 25% 10%);
    }
    .subsecTextLink:visited {
      color: hwb(120 50% 10%);
      background-color: transparent;
      text-decoration: none;
    }
    .subsecTextLink:hover {
      color: hwb(140 25% 10%);
      background-color: transparent;
      text-decoration: underline;
    }
    .subsecTextLink:active {
      color: hwb(140 50% 10%);
      background-color: transparent;
      text-decoration: underline;
    }



/* Classes for the buttons */
    .linkButtonsLink {
        text-decoration: none;
    }
    .linkButtons .gradient {
        width: 75%;
        margin: auto;
        text-align: center;
        border-radius: 5px;
    }
    .linkButtons .gA {
        background-image: linear-gradient(
            to right,
            var(--buttonBleue),
            var(--buttonGreen)
        );
    }
    .linkButtons .gB {
        background-image: linear-gradient(
            to right,
            var(--buttonGreen),
            var(--buttonYello)
        );
    }
    .linkButtons .gC {
        background-image: linear-gradient(
            to right,
            var(--buttonYello),
            var(--buttonBleue)
        );
    }
    .linkButtons .text {
        font-family: 'linkButtons';
        color: #FFF;
        font-size: 30px;
        padding: 5px;
    }

.homeIconImg {
    width: 20px;
    height: 20px;
    margin: auto;
    display: block;
    margin-top: -25px;
}

.homeIconDiv {
    width: 30px;
    margin: auto;
}
